*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 100px;
    background-image: url(/assets/Image/i.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}
.line{
    width: 100%;
    height: 1px;
    background-color: green;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container *{
    color: white;
}
.contact-socmedia .contact{
    display: flex;
}
.contact-socmedia .soc-media ul li{
    display: inline-block;
    margin: 10px;
    margin-right: 20px;
}
.contact-socmedia .contact p{
    margin: 10px;
    margin-left: 20px;
}
.nav-content .container{
    display: flex;
    justify-content: space-between;
}
.nav-content .container *{
    margin: 5px;
    color: white;
}
.nav-content .logo h1{
   font-size: 32px;
   margin-left: 10px;
}
.part-site ul li a{
    text-decoration: none;
    font-size: 12px;
}
.part-site ul li{
    list-style: none;
    display: inline-block;
}